#header
  .header
    .logo-text= link_to 'David Lesches on Rails', root_path
    .navigation
      = link_to '@davidlesches', 'http://twitter.com/davidlesches', target: '_blank'
      %span.divider &bull;
      = link_to 'rss', posts_url(format: "atom")