.posts

  .post

    .more_links
      +clearfix

      .comment_link
        +grid(9)
        +alpha
        font-family: 'Exo', sans-serif

      .read_more_link
        +grid(9)
        +omega
        text-align: right
        font-family: 'Exo', sans-serif

.post-show
  .banner-image
    margin: 20px 0px

  .comments
    padding-top: 20px
    margin-top: 30px
    border-top: 1px solid #FF2F01

  .follow-on-twitter
    background: #FF2F01
    color: #FFF
    font-family: 'Exo', sans-serif
    padding: 20px 0px
    text-align: center
    font-size: 24px

    a
      font-size: 30px
      color: white

